<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block css %}
			<!-- Bootstrap CSS -->
        <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet">			
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
		{% endblock %}
		<title>
			{% block title %}Shopshop{% endblock %}
		</title>
	</head>

{% if session.message %}
  <div class="alert alert-danger text-center">{{session.message}}</div>
  {{clear_session_message()}}
{% endif %}

	<body class="bg-white">

		<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.php">Shopshop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if session.login is not defined %}
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=registration">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=login">Connexion</a>
        </li>
        {% endif %}
        

        {% if "admin" in session.roles %}
        
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=types">Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=carts">Carts</a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ajouter
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="index.php?page=addType">Add Type</a></li>
            <li><a class="dropdown-item" href="index.php?page=addUser">Add User</a></li>
            <li><a class="dropdown-item" href="index.php?page=addProduct">Add Product</a></li>
            <li><a class="dropdown-item" href="index.php?page=addCart">Add Cart</a></li>
          </ul>
          </li>
          {% endif %}



          {% if session.login is defined %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{session.login}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.php?page=logout">Déconnexion</a></li>
            </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="index.php?page=myCart">Panier</a>
            </li>
          {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
		{% block content %}{% endblock %}
		{% block js %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
